* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*  flex居中 */

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.marquee{
	display: flex;
	align-items: center;
	justify-content: center;
}

.marquee .inner{
	width: 200px;
	height: 50px;
	line-height: 50px;
	font-size: 32px;
	font-family: sans-serif;
	white-space: nowrap;
	overflow:hidden;
}

.marquee .inner span{
	position: absolute;
	animation: marquee 5s linear infinite;
}
.marquee .inner:first-child{
	background-color : rgb(68, 204, 68);
	color: rgb(33, 95, 33);
	transform-origin: left;
	transform: perspective(300px) rotateY(-67.3deg);
	
}
.marquee .inner:last-child {
	background-color: rgb(79, 230, 79);
	color: #fff;
	transform-origin: right;
	transform: perspective(300px) rotateY(67.3deg);
}

.marquee .inner:first-child span{
	animation-delay: 2.5s;
	left: -100%;
}
@keyframes marquee{
	from{
		left: 100%;
	}
	to{
		left: -100%;
	}
}