* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*  flex居中 */

html,
body,
.circle {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

:root{
	--innerRadius:2em;
	--bgcolor: #fee388;
}

.circle {
	width: calc(var(--innerRadius)*2);
	height: calc(var(--innerRadius)*2);
	background-color: var(--bgcolor); 
	border-radius: 50%;
	position: relative;
}

.circle::before,
.circle::after {
	content: '';
	position: absolute;
	width: calc(var(--innerRadius)* 4);
	height: calc(var(--innerRadius)* 4);
	/* background-color: var(--bgcolor) ; */
	border-radius: 50%;
	border: 2px solid var(--bgcolor);
	animation: anim 2s ease-out infinite;
}

.circle::after{
	animation-delay: 1s;
}

@keyframes anim{
	from{
		transform: scale(1);
		filter: opacity(0.9);
	}
	to {
		transform: scale(2);
		filter: opacity(0);
	}
}
